<template name="appLayout">
{{#ionBody}}

  {{#ionSideMenuContainer}}

      {{#ionSideMenus}}


        {{#ionSideMenu}}
          <div class="bar bar-header bar-positive">
            <h1 class="title" style="color: #fff">Navigation</h1>
          </div>
          <div class="content has-header">
            <div class="list">
              {{#if isAdminUser}}
              <div class="item item-icon-right menuItemPadding" data-ion-menu-close>
                  <a class="sideMenuItems" data-ion-modal="newProduct">New Video</a>
              </div>
              {{/if}}
              <div class="item item-icon-right menuItemPadding" style="padding-bottom: 10px !important;" data-ion-menu-close>
                <a class="sideMenuItems" href="{{ pathFor 'trending'}}">Trending</a>
              </div>
              <div class="item item-icon-right menuItemPadding" data-ion-menu-close>
                <a class="sideMenuItems" href="{{ pathFor 'recent'}}">Recent</a>
              </div>
              <!--<div class="item item-icon-right" data-ion-menu-close>
                <a class="sideMenuItems" href="{{ pathFor 'notifications'}}">Notifications</a>
              </div>-->
              <div class="item item-icon-right menuItemPadding" data-ion-menu-close>
                <a class="sideMenuItems" href="{{ pathFor 'profile'}}">Profile</a>
              </div>
            </div>
          </div>
        {{/ionSideMenu}}

      {{/ionSideMenus}}

    {{#ionSideMenuContent}}

      {{#if currentUser}}
        {{> ionNavBar class="bar-positive"}}
      {{/if}}
        

        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}


      {{#if isAndroid}}

        {{else}}
          {{#ionTabs style="ios"}}
            {{> ionTab title="Trending" path="trending" iconOff="ios-bolt-outline" iconOn="ios-bolt" class="tab-item-positive"}}
            {{> ionTab title="Recent" path="recent" iconOff="ios-clock-outline" iconOn="ios-clock" class="tab-item-positive"}}
            <!--{{> ionTab title="Notifications" path="notifications" iconOff="ios-bell-outline" iconOn="ios-bell" class="tab-item-positive"}}-->
            {{> ionTab title="Profile" path="profile" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-positive"}}
          {{/ionTabs}}
      {{/if}}


    {{/ionSideMenuContent}}

  {{/ionSideMenuContainer}}

{{/ionBody}}





</template>

<template name="headerNavBar">
    {{#contentFor "headerButtonLeft"}}

      {{#if currentUser}}
          {{#if isAndroid}}
            <button class="button button-clear pull-left" id="sideMenu" data-ion-menu-toggle="left">
              {{> ionIcon icon='navicon'}}
            </button> 
          {{else}}
            <button class="button button-clear pull-left button-light" data-ion-modal="newProduct">
                {{> ionIcon icon='ios-plus-empty'}}
            </button>
          {{/if}}
      {{else}} 
        <button class="button button-clear pull-left button-light" data-ion-modal="signIn">
          {{> ionIcon icon='ios-plus-empty'}}
        </button>
      {{/if}}
    {{/contentFor}}
   
  
    {{#contentFor "headerButtonRight"}}
      {{#if currentUser}}
        <button class="button button-clear pull-right button-light" data-ion-modal="search">
        {{> ionIcon icon='ios-search'}}
        </button>
      {{else}} 
        <button class="button button-clear pull-right button-light" data-ion-modal="signIn">
        Sign In
        </button>
      {{/if}} 

    {{/contentFor}}
</template>